#app {
  width: 100%;
}

body {
  flex-direction: column;
}

.tabletarif {
  margin-left: 200px;
}

.wrapper {
  display: flex;
}
.wrapper .panel {
  background-color: #333333;
  height: 110.2%;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.wrapper .panel .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapper .panel .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapper .panel .container {
  margin-bottom: 360px;
}
.wrapper .panel .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
  transition: 400ms;
}
.wrapper .panel .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 21px;
  transition: 300ms;
}
.wrapper .panel .container .name:hover {
  cursor: pointer;
}
.wrapper .panel .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapper .panel .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
  transition: 300ms;
}
.wrapper .panel .container .goods .name:hover {
  cursor: pointer;
}
.wrapper .panel .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapper .panel .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
  transition: 300ms;
}
.wrapper .panel .container .order .name:hover {
  cursor: pointer;
}
.wrapper .panel .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapper .panel .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
  transition: 300ms;
}
.wrapper .panel .container .statistic .name:hover {
  cursor: pointer;
}
.wrapper .panel .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapper .panel .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
  transition: 300ms;
}
.wrapper .panel .exit .name:hover {
  cursor: pointer;
}
.wrapper .table {
  margin-left: 50px;
  margin-top: 30px;
  height: 64px;
  width: 1300px;
  background-color: #333333;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.wrapper .table .name {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  margin-top: 20px;
}
.wrapper .table .name:first-child {
  margin-left: 56px;
}
.wrapper .table .name:nth-child(2) {
  margin-left: 145.5px;
}
.wrapper .table .name:nth-child(3) {
  margin-left: 117.5px;
}
.wrapper .table .name:nth-child(4) {
  margin-left: 140px;
}
.wrapper .table .name:nth-child(5) {
  margin-left: 157px;
}
.wrapper .containerbutton {
  margin-top: 100px;
  margin-left: 1057px;
}
.wrapper .containerbutton .btn {
  background-color: #A93DFF;
  padding: 15px 63px;
  border: transparent;
  border-radius: 5px;
}
.wrapper .containerbutton .btn:hover {
  cursor: pointer;
}
.wrapper .containerbutton .btn .btntext {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .baseContainer {
  display: grid;
  grid-template-columns: 290px 250px 330px 210px 219px;
  margin-left: 51px;
}
.wrapper .baseContainer .base {
  border: 1px solid #8B8B8B;
  padding: 25px 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .baseContainer .container {
  display: flex;
  border: 1px solid #8B8B8B;
  justify-content: center;
  padding-top: 15px;
}
.wrapper .baseContainer .container svg:hover {
  cursor: pointer;
}
.wrapper .baseContainer .container .delete {
  padding-left: 5px;
}
.wrapper .containerall {
  display: flex;
  flex-direction: column;
}

.modaladd {
  display: none;
}

.activeadd {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.activeadd .containerInput {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FAFAFA;
  width: 500px;
  height: 460px;
  border-radius: 10px;
  margin: 190px;
}
.activeadd .containerInput .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.activeadd .containerInput input[type=text] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.activeadd .containerInput input[type=number] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.activeadd .containerInput .price {
  background-color: #D4D4D4;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.activeadd .container {
  display: flex;
  padding-top: 100px;
  padding-left: 24px;
}
.activeadd .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.activeadd .container .btnfirst:hover {
  cursor: pointer;
}
.activeadd .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.activeadd .container .btntwo:hover {
  cursor: pointer;
}

.modaledit {
  display: none;
}

.activeedit {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.activeedit .containerInput {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FAFAFA;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  margin: 220px;
}
.activeedit .containerInput .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.activeedit .containerInput input[type=text] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.activeedit .containerInput input[type=number] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.activeedit .containerInput .price {
  background-color: #D4D4D4;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.activeedit .container {
  display: flex;
  padding-top: 100px;
  padding-left: 24px;
}
.activeedit .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.activeedit .container .btnfirst:hover {
  cursor: pointer;
}
.activeedit .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.activeedit .container .btntwo:hover {
  cursor: pointer;
}

.modaldelete {
  display: none;
}

.activedelete {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.activedelete .containerInput {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FAFAFA;
  width: 500px;
  height: 140px;
  border-radius: 10px;
  margin-top: 350px;
}
.activedelete .containerInput .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.activedelete .container {
  display: flex;
  padding-left: 24px;
}
.activedelete .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.activedelete .container .btnfirst:hover {
  cursor: pointer;
}
.activedelete .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.activedelete .container .btntwo:hover {
  cursor: pointer;
}

#app {
  width: 100%;
}

body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

.wrapperr {
  display: flex;
}
.wrapperr .panel {
  background-color: #333333;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapperr .panel .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapperr .panel .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapperr .panel .container {
  margin-bottom: 360px;
}
.wrapperr .panel .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapperr .panel .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 21px;
}
.wrapperr .panel .container .name:hover {
  cursor: pointer;
}
.wrapperr .panel .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapperr .panel .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperr .panel .container .goods .name:hover {
  cursor: pointer;
}
.wrapperr .panel .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperr .panel .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 13px;
}
.wrapperr .panel .container .order .name:hover {
  cursor: pointer;
}
.wrapperr .panel .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperr .panel .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperr .panel .container .statistic .name:hover {
  cursor: pointer;
}
.wrapperr .panel .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapperr .panel .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapperr .panel .exit .name:hover {
  cursor: pointer;
}
.wrapperr .table {
  margin-left: 50px;
  margin-top: 130px;
  height: 64px;
  width: 1290px;
  background-color: #333333;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.wrapperr .table .name {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  margin-top: 20px;
}
.wrapperr .table .name:first-child {
  margin-left: 56px;
}
.wrapperr .table .name:nth-child(2) {
  margin-left: 210.5px;
}
.wrapperr .table .name:nth-child(3) {
  margin-left: 225px;
}
.wrapperr .table .name:nth-child(4) {
  margin-left: 225px;
}
.wrapperr .baseContainer {
  display: grid;
  grid-template-columns: 315px 350px 350px 273px;
  margin-left: 51px;
}
.wrapperr .baseContainer .base {
  border: 1px solid #8B8B8B;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 40px 7px;
}
.wrapperr .baseContainer .base:nth-child(3) {
  text-align: start;
}
.wrapperr .baseContainer .container {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
}
.wrapperr .baseContainer .container .bases {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.wrapperr .baseContainer .container .izmen {
  display: block;
}
.wrapperr .baseContainer .container svg {
  padding-left: 15px;
}
.wrapperr .baseContainer .container svg:hover {
  cursor: pointer;
}
.wrapperr .baseContainer .containerMusic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  padding: 20px 0px;
}
.wrapperr .baseContainer .containerMusic .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 0px 10px;
}
.wrapperr .baseContainer .containerMusic .bases:nth-child(2) {
  margin-top: 20px;
}
.wrapperr .baseContainer .containeremail {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
}
.wrapperr .baseContainer .containeremail .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

.baseContainer .menus {
  position: absolute;
  top: 230px;
  display: none;
}
.baseContainer .menus .containerme {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark, #333);
  padding: 10px 10px;
  justify-content: space-between;
}
.baseContainer .menus .containerme:hover {
  cursor: pointer;
}
.baseContainer .menus .containerme p {
  font-size: 20px;
  font-weight: 700;
}
.baseContainer .menus .containerme svg {
  margin-left: 50px;
}
.baseContainer .menus .dropdown {
  background-color: var(--dark, #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}
.baseContainer .menus .dropdown p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  padding-top: 15px;
}
.baseContainer .menus .dropdown p:last-child {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
.baseContainer .menus .dropdown p:hover {
  cursor: pointer;
}
.baseContainer .menus .dropdown .line {
  width: 250px;
  height: 2px;
  margin-top: 13px;
  background-color: #FFFFFF;
}

.baseContainer .menusa {
  position: absolute;
  top: 360px;
  display: none;
}
.baseContainer .menusa .containerme {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark, #333);
  padding: 10px 10px;
  justify-content: space-between;
}
.baseContainer .menusa .containerme:hover {
  cursor: pointer;
}
.baseContainer .menusa .containerme p {
  font-size: 20px;
  font-weight: 700;
}
.baseContainer .menusa .containerme svg {
  margin-left: 50px;
}
.baseContainer .menusa .dropdown {
  background-color: var(--dark, #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}
.baseContainer .menusa .dropdown p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  padding-top: 15px;
}
.baseContainer .menusa .dropdown p:last-child {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
.baseContainer .menusa .dropdown p:hover {
  cursor: pointer;
}
.baseContainer .menusa .dropdown .line {
  width: 250px;
  height: 2px;
  margin-top: 13px;
  background-color: #FFFFFF;
}

.baseContainer .menusaa {
  position: absolute;
  top: 500px;
  display: none;
}
.baseContainer .menusaa .containerme {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark, #333);
  padding: 10px 10px;
  justify-content: space-between;
}
.baseContainer .menusaa .containerme:hover {
  cursor: pointer;
}
.baseContainer .menusaa .containerme p {
  font-size: 20px;
  font-weight: 700;
}
.baseContainer .menusaa .containerme svg {
  margin-left: 50px;
}
.baseContainer .menusaa .dropdown {
  background-color: var(--dark, #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}
.baseContainer .menusaa .dropdown p {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  padding-top: 15px;
}
.baseContainer .menusaa .dropdown p:last-child {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
.baseContainer .menusaa .dropdown p:hover {
  cursor: pointer;
}
.baseContainer .menusaa .dropdown .line {
  width: 250px;
  height: 2px;
  margin-top: 13px;
  background-color: #FFFFFF;
}

#app {
  width: 100%;
}

body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

.wrapperrr {
  display: flex;
}
.wrapperrr .panel {
  background-color: #333333;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapperrr .panel .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapperrr .panel .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapperrr .panel .container {
  margin-bottom: 360px;
}
.wrapperrr .panel .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapperrr .panel .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 21px;
}
.wrapperrr .panel .container .name:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapperrr .panel .container .goods:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrr .panel .container .goods .name:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrr .panel .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrr .panel .container .order .name:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrr .panel .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 13px;
}
.wrapperrr .panel .container .statistic .name:hover {
  cursor: pointer;
}
.wrapperrr .panel .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapperrr .panel .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapperrr .panel .exit .name:hover {
  cursor: pointer;
}
.wrapperrr .containerStatistic {
  display: flex;
  margin-left: 50px;
  margin-top: 70px;
}
.wrapperrr .containerStatistic .containerblack {
  border-radius: 10px;
  width: 750px;
  height: 790px;
  background-color: #333333;
  color: #FAFAFA;
}
.wrapperrr .containerStatistic .containerblack .profit {
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.wrapperrr .containerStatistic .containerblack .container {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FAFAFA;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}
.wrapperrr .containerStatistic .containerblack .total {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}
.wrapperrr .containerStatistic .containerSummer {
  display: flex;
  flex-direction: column;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: #A93DFF;
  margin-left: 50px;
  color: #FAFAFA;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet:nth-child(2) {
  margin-top: 50px;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet .june {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet .container {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FAFAFA;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet .total {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}

#app {
  width: 100%;
}

body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

.containerall {
  margin-left: 200px;
}

.wrapperrrr {
  display: flex;
}
.wrapperrrr .panell {
  background-color: #333333;
  height: 104.7%;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.wrapperrrr .panell .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapperrrr .panell .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapperrrr .panell .container {
  margin-bottom: 360px;
}
.wrapperrrr .panell .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapperrrr .panell .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 21px;
}
.wrapperrrr .panell .container .name:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapperrrr .panell .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 13px;
}
.wrapperrrr .panell .container .goods .name:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrrr .panell .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrrr .panell .container .order .name:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrrr .panell .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrrr .panell .container .statistic .name:hover {
  cursor: pointer;
}
.wrapperrrr .panell .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapperrrr .panell .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapperrrr .panell .exit .name:hover {
  cursor: pointer;
}
.wrapperrrr .table {
  margin-left: 50px;
  margin-top: 30px;
  height: 64px;
  width: 1351px;
  background-color: #333333;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.wrapperrrr .table .name {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  margin-top: 20px;
}
.wrapperrrr .table .name:first-child {
  margin-left: 150px;
}
.wrapperrrr .table .name:nth-child(2) {
  margin-left: 330px;
}
.wrapperrrr .table .name:nth-child(3) {
  margin-left: 380px;
}
.wrapperrrr .baseContainer {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  margin-left: 51px;
}
.wrapperrrr .baseContainer .base {
  border: 1px solid #8B8B8B;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 7px;
}
.wrapperrrr .baseContainer .base:nth-child(3) {
  text-align: start;
}
.wrapperrrr .baseContainer .container {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
}
.wrapperrrr .baseContainer .container .bases {
  font-size: 20px;
  font-weight: 700;
}
.wrapperrrr .baseContainer .container svg {
  padding-left: 15px;
}
.wrapperrrr .baseContainer .container svg:hover {
  cursor: pointer;
}
.wrapperrrr .baseContainer .containerMusic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  padding: 20px 0px;
}
.wrapperrrr .baseContainer .containerMusic .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 0px 10px;
}
.wrapperrrr .baseContainer .containerMusic .bases:nth-child(2) {
  margin-top: 20px;
}
.wrapperrrr .baseContainer .containeremail {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
}
.wrapperrrr .baseContainer .containeremail .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
.wrapperrrr .containerproduct {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}
.wrapperrrr .containerproduct .containerbutton .btn {
  background-color: #A93DFF;
  padding: 15px 63px;
  border: transparent;
  border-radius: 5px;
}
.wrapperrrr .containerproduct .containerbutton .btn:hover {
  cursor: pointer;
}
.wrapperrrr .containerproduct .containerbutton .btn .btntext {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 700;
}
.wrapperrrr .containerproduct .find {
  margin-left: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #D4D4D4;
  border-radius: 10px;
  height: fit-content;
  padding: 10px 10px;
  width: 1030px;
}
.wrapperrrr .containerproduct .find input[type=text] {
  border: transparent;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  width: 1030px;
}
.wrapperrrr .containerproduct .find input[type=text]::placeholder {
  color: #8B8B8B;
}
.wrapperrrr .containerproduct .find .activesvg {
  display: none;
}

.modalsadd {
  display: none;
}

.actives {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.actives .containerInput {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FAFAFA;
  width: 500px;
  height: 460px;
  border-radius: 10px;
  margin: 190px;
}
.actives .containerInput .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.actives .containerInput input[type=text] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.actives .containerInput input[type=number] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.actives .container {
  display: flex;
  padding-top: 200px;
  padding-left: 24px;
}
.actives .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.actives .container .btnfirst:hover {
  cursor: pointer;
}
.actives .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.actives .container .btntwo:hover {
  cursor: pointer;
}

.modalsedit {
  display: none;
}

.activeedit {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.activeedit .containerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  width: 500px;
  height: 295px;
  border-radius: 10px;
  margin: 280px;
}
.activeedit .containerInputs .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.activeedit .containerInputs input[type=text] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.activeedit .containerInputs .price {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
  background-color: #FAFAFA;
  text-align: start;
}
.activeedit .container {
  display: flex;
  padding-top: 25px;
  padding-left: 24px;
}
.activeedit .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.activeedit .container .btnfirst:hover {
  cursor: pointer;
}
.activeedit .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.activeedit .container .btntwo:hover {
  cursor: pointer;
}

.modalsdelete {
  display: none;
}

.activesdelete {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.activesdelete .containerInputs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FAFAFA;
  width: 500px;
  height: 157px;
  border-radius: 10px;
  margin-top: 350px;
}
.activesdelete .containerInputs .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.activesdelete .container {
  display: flex;
  padding-left: 24px;
}
.activesdelete .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.activesdelete .container .btnfirst:hover {
  cursor: pointer;
}
.activesdelete .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.activesdelete .container .btntwo:hover {
  cursor: pointer;
}

.wrarer {
  width: 100%;
  height: 100%;
  background-color: #00CA69;
}
.wrarer .container {
  margin-top: 50px;
  width: 100%;
}
.wrarer .container .logo {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 4px solid #FAFAFA;
  border-radius: 100%;
  margin: 0 auto;
  padding: 10px 10px;
}
.wrarer .container .logo .caption {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #FAFAFA;
  padding-top: 33%;
}
.wrarer .container .modals {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.wrarer .container .modals .modalwindow {
  background-color: #FAFAFA;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.wrarer .container .modals .modalwindow h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 35px;
}
.wrarer .container .modals .modalwindow .text {
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}
.wrarer .container .modals .modalwindow .text:focus {
  outline: auto;
}
.wrarer .container .modals .modalwindow .pas {
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  font-size: 20px;
  font-weight: 500;
}
.wrarer .container .modals .modalwindow .pas:focus {
  outline: auto;
}
.wrarer .container .modals .modalwindow .btn {
  color: #FAFAFA;
  background-color: #A93DFF;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  border: none;
  margin-top: 45px;
}
.wrarer .container .modals .modalwindow .btn:hover {
  cursor: pointer;
}

.baseContainerr {
  display: grid;
  grid-template-columns: 290px 250px 330px 210px 219px;
  margin-left: 0px;
}
.baseContainerr .base {
  border: 1px solid #8B8B8B;
  padding: 25px 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.baseContainerr .container {
  display: flex;
  border: 1px solid #8B8B8B;
  justify-content: center;
  padding-top: 15px;
}
.baseContainerr .container svg:hover {
  cursor: pointer;
}
.baseContainerr .container .delete {
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
