#app {
  width: 100%;
}

body {
  flex-direction: column;
}

.wrapper {
  display: flex;
}
.wrapper .panel {
  background-color: #333333;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapper .panel .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapper .panel .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapper .panel .container {
  margin-bottom: 360px;
}
.wrapper .panel .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapper .panel .container .tarif:hover {
  cursor: pointer;
}
.wrapper .panel .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 21px;
}
.wrapper .panel .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapper .panel .container .goods:hover {
  cursor: pointer;
}
.wrapper .panel .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapper .panel .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapper .panel .container .order:hover {
  cursor: pointer;
}
.wrapper .panel .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapper .panel .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapper .panel .container .statistic:hover {
  cursor: pointer;
}
.wrapper .panel .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapper .panel .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapper .panel .exit:hover {
  cursor: pointer;
}
.wrapper .panel .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapper .table {
  margin-left: 50px;
  margin-top: 30px;
  height: 64px;
  width: 1300px;
  background-color: #333333;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.wrapper .table .name {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  margin-top: 20px;
}
.wrapper .table .name:first-child {
  margin-left: 56px;
}
.wrapper .table .name:nth-child(2) {
  margin-left: 145.5px;
}
.wrapper .table .name:nth-child(3) {
  margin-left: 117.5px;
}
.wrapper .table .name:nth-child(4) {
  margin-left: 125px;
}
.wrapper .table .name:nth-child(5) {
  margin-left: 157px;
}
.wrapper .containerbutton {
  margin-top: 100px;
  margin-left: 1057px;
}
.wrapper .containerbutton .btn {
  background-color: #A93DFF;
  padding: 15px 63px;
  border: transparent;
  border-radius: 5px;
}
.wrapper .containerbutton .btn:hover {
  cursor: pointer;
}
.wrapper .containerbutton .btn .btntext {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .baseContainer {
  display: grid;
  grid-template-columns: 290px 250px 330px 210px 219px;
  margin-left: 51px;
}
.wrapper .baseContainer .base {
  border: 1px solid #8B8B8B;
  padding: 25px 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .baseContainer .container {
  display: flex;
  border: 1px solid #8B8B8B;
  justify-content: center;
  padding-top: 15px;
}
.wrapper .baseContainer .container svg:hover {
  cursor: pointer;
}
.wrapper .baseContainer .container .delete {
  padding-left: 5px;
}
.wrapper .containerall {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
}

.active {
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.active .containerInput {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FAFAFA;
  width: 500px;
  height: 460px;
  border-radius: 10px;
  margin: 190px;
}
.active .containerInput .tarif {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
}
.active .containerInput input[type=text] {
  width: 90%;
  margin-left: 11px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-top: 10px;
}
.active .containerInput .price {
  background-color: #D4D4D4;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.active .container {
  display: flex;
  padding-top: 100px;
  padding-left: 24px;
}
.active .container .btnfirst {
  color: #FAFAFA;
  background: #333333;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.active .container .btnfirst:hover {
  cursor: pointer;
}
.active .container .btntwo {
  color: #333333;
  background-color: #FFC702;
  padding: 15px 65px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.active .container .btntwo:hover {
  cursor: pointer;
}

#app {
  width: 100%;
}

body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

.wrapperr {
  display: flex;
}
.wrapperr .panel {
  background-color: #333333;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapperr .panel .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapperr .panel .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapperr .panel .container {
  margin-bottom: 360px;
}
.wrapperr .panel .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapperr .panel .container .tarif:hover {
  cursor: pointer;
}
.wrapperr .panel .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 21px;
}
.wrapperr .panel .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapperr .panel .container .goods:hover {
  cursor: pointer;
}
.wrapperr .panel .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperr .panel .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperr .panel .container .order:hover {
  cursor: pointer;
}
.wrapperr .panel .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 13px;
}
.wrapperr .panel .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperr .panel .container .statistic:hover {
  cursor: pointer;
}
.wrapperr .panel .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperr .panel .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapperr .panel .exit:hover {
  cursor: pointer;
}
.wrapperr .panel .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapperr .table {
  margin-left: 50px;
  margin-top: 130px;
  height: 64px;
  width: 1210px;
  background-color: #333333;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.wrapperr .table .name {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  margin-top: 20px;
}
.wrapperr .table .name:first-child {
  margin-left: 56px;
}
.wrapperr .table .name:nth-child(2) {
  margin-left: 155.5px;
}
.wrapperr .table .name:nth-child(3) {
  margin-left: 225px;
}
.wrapperr .table .name:nth-child(4) {
  margin-left: 200px;
}
.wrapperr .baseContainer {
  display: grid;
  grid-template-columns: 315px 270px 350px 273px;
  margin-left: 51px;
}
.wrapperr .baseContainer .base {
  border: 1px solid #8B8B8B;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 40px 7px;
}
.wrapperr .baseContainer .base:nth-child(3) {
  text-align: start;
}
.wrapperr .baseContainer .container {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
}
.wrapperr .baseContainer .container .bases {
  font-size: 20px;
  font-weight: 700;
}
.wrapperr .baseContainer .container svg {
  padding-left: 15px;
}
.wrapperr .baseContainer .container svg:hover {
  cursor: pointer;
}
.wrapperr .baseContainer .containerMusic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  padding: 20px 0px;
}
.wrapperr .baseContainer .containerMusic .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 0px 10px;
}
.wrapperr .baseContainer .containerMusic .bases:nth-child(2) {
  margin-top: 20px;
}
.wrapperr .baseContainer .containeremail {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
}
.wrapperr .baseContainer .containeremail .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

#app {
  width: 100%;
}

body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

.wrapperrr {
  display: flex;
}
.wrapperrr .panel {
  background-color: #333333;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapperrr .panel .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapperrr .panel .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapperrr .panel .container {
  margin-bottom: 360px;
}
.wrapperrr .panel .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapperrr .panel .container .tarif:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 21px;
}
.wrapperrr .panel .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapperrr .panel .container .goods:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrr .panel .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrr .panel .container .order:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrr .panel .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrr .panel .container .statistic:hover {
  cursor: pointer;
}
.wrapperrr .panel .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 13px;
}
.wrapperrr .panel .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapperrr .panel .exit:hover {
  cursor: pointer;
}
.wrapperrr .panel .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapperrr .containerStatistic {
  display: flex;
  margin-left: 50px;
  margin-top: 70px;
}
.wrapperrr .containerStatistic .containerblack {
  border-radius: 10px;
  width: 750px;
  height: 790px;
  background-color: #333333;
  color: #FAFAFA;
}
.wrapperrr .containerStatistic .containerblack .profit {
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.wrapperrr .containerStatistic .containerblack .container {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FAFAFA;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}
.wrapperrr .containerStatistic .containerblack .total {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}
.wrapperrr .containerStatistic .containerSummer {
  display: flex;
  flex-direction: column;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: #A93DFF;
  margin-left: 50px;
  color: #FAFAFA;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet:nth-child(2) {
  margin-top: 50px;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet .june {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet .container {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FAFAFA;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}
.wrapperrr .containerStatistic .containerSummer .containerviolet .total {
  margin-top: 30px;
  margin-left: 10px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}

#app {
  width: 100%;
}

body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

.wrapperrrr {
  display: flex;
}
.wrapperrrr .panell {
  background-color: #333333;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.wrapperrrr .panell .circle {
  background-color: #333333;
  border: 1px solid #FAFAFA;
  border-radius: 100%;
  padding: 30px 20px;
  width: 50px;
  height: 30px;
  margin-top: 20px;
  margin-left: 50px;
}
.wrapperrrr .panell .circle .admin {
  font-size: 12px;
  font-weight: 500;
  color: #FAFAFA;
  text-align: center;
  line-height: 15px;
}
.wrapperrrr .panell .container {
  margin-bottom: 360px;
}
.wrapperrrr .panell .container .tarif {
  display: flex;
  align-items: center;
  margin-left: 31px;
  margin-top: 70px;
}
.wrapperrrr .panell .container .tarif:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 21px;
}
.wrapperrrr .panell .container .goods {
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 40px;
}
.wrapperrrr .panell .container .goods:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .goods .name {
  font-size: 16px;
  font-weight: 500;
  color: #FFC702;
  margin-left: 13px;
}
.wrapperrrr .panell .container .order {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrrr .panell .container .order:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .order .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrrr .panell .container .statistic {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 40px;
}
.wrapperrrr .panell .container .statistic:hover {
  cursor: pointer;
}
.wrapperrrr .panell .container .statistic .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 13px;
}
.wrapperrrr .panell .exit {
  display: flex;
  align-items: center;
  margin-left: 28px;
  position: relative;
  bottom: 30px;
}
.wrapperrrr .panell .exit:hover {
  cursor: pointer;
}
.wrapperrrr .panell .exit .name {
  font-size: 16px;
  font-weight: 500;
  color: #FAFAFA;
  margin-left: 18px;
}
.wrapperrrr .table {
  margin-left: 50px;
  margin-top: 30px;
  height: 64px;
  width: 1351px;
  background-color: #333333;
  border-radius: 5px 5px 0 0;
  display: flex;
}
.wrapperrrr .table .name {
  font-size: 20px;
  font-weight: 700;
  color: #FAFAFA;
  margin-top: 20px;
}
.wrapperrrr .table .name:first-child {
  margin-left: 150px;
}
.wrapperrrr .table .name:nth-child(2) {
  margin-left: 330px;
}
.wrapperrrr .table .name:nth-child(3) {
  margin-left: 380px;
}
.wrapperrrr .baseContainer {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  margin-left: 51px;
}
.wrapperrrr .baseContainer .base {
  border: 1px solid #8B8B8B;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 7px;
}
.wrapperrrr .baseContainer .base:nth-child(3) {
  text-align: start;
}
.wrapperrrr .baseContainer .container {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
}
.wrapperrrr .baseContainer .container .bases {
  font-size: 20px;
  font-weight: 700;
}
.wrapperrrr .baseContainer .container svg {
  padding-left: 15px;
}
.wrapperrrr .baseContainer .container svg:hover {
  cursor: pointer;
}
.wrapperrrr .baseContainer .containerMusic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  padding: 20px 0px;
}
.wrapperrrr .baseContainer .containerMusic .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding: 0px 10px;
}
.wrapperrrr .baseContainer .containerMusic .bases:nth-child(2) {
  margin-top: 20px;
}
.wrapperrrr .baseContainer .containeremail {
  display: flex;
  justify-content: center;
  border: 1px solid #8B8B8B;
  align-items: center;
  flex-direction: column;
  line-height: 35px;
}
.wrapperrrr .baseContainer .containeremail .bases {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
.wrapperrrr .containerproduct {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}
.wrapperrrr .containerproduct .containerbutton .btn {
  background-color: #A93DFF;
  padding: 15px 63px;
  border: transparent;
  border-radius: 5px;
}
.wrapperrrr .containerproduct .containerbutton .btn:hover {
  cursor: pointer;
}
.wrapperrrr .containerproduct .containerbutton .btn .btntext {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 700;
}
.wrapperrrr .containerproduct .find {
  margin-left: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #D4D4D4;
  border-radius: 10px;
  height: fit-content;
  padding: 10px 10px;
  width: 1030px;
}
.wrapperrrr .containerproduct .find input[type=text] {
  border: transparent;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  color: #8B8B8B;
  width: 1030px;
}

/*# sourceMappingURL=style.css.map */
