#app {
    width: 100%;
  }
  
  body {
    flex-direction: column;
    a{
      text-decoration: none;
    }
  }
  
  .wrapperrrr{
    display: flex;
    .panell{
      background-color: #333333;
      height: 100vh;
      width: 200px;
      display: flex;
      flex-direction: column;
      
      .circle{
        background-color: #333333;
        border: 1px solid #FAFAFA;
        border-radius: 100%;
        padding: 30px 20px;
        width: 50px;
        height: 30px;
        margin-top: 20px;
        margin-left: 50px;
        .admin{
          font-size: 12px;
          font-weight: 500;
          color: #FAFAFA;
          text-align: center;
          line-height: 15px;
        }
      }
      .container{
        margin-bottom: 360px;
        .tarif{
          display: flex;
          align-items: center;
          margin-left: 31px;
          margin-top: 70px;
          &:hover{
            cursor: pointer;
          }
        }
         .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 21px;
          
        }
        .goods{
          display: flex;
          align-items: center;
          margin-left: 19px;
          margin-top: 40px;
          &:hover{
            cursor: pointer
          }
          .name{
            font-size: 16px;
            font-weight: 500;
            color: #FFC702;
            margin-left: 13px;
          }
        }
        .order{
          display: flex;
          align-items: center;
          margin-left: 17px;
          margin-top: 40px;
          &:hover{
            cursor: pointer
          }
          .name{
            font-size: 16px;
            font-weight: 500;
            color: #FAFAFA;
            margin-left: 13px;
          }
        }
        .statistic{
          display: flex;
          align-items: center;
          margin-left: 17px;
          margin-top: 40px;
          &:hover{
            cursor: pointer
          }
          .name{
            font-size: 16px;
            font-weight: 500;
            color: #FAFAFA;
            margin-left: 13px;
          }
        }
      }
      .exit{
        display: flex;
        align-items: center;
        margin-left: 28px;
        position: relative;
        bottom: 30px;
        &:hover{
          cursor: pointer
        }
        .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 18px;
          
        }
      }
     
    }
    .table{
      margin-left: 50px;
      margin-top: 30px;
      height: 64px;
      width: 1351px;
      background-color: #333333;
      border-radius: 5px 5px 0 0;
      display: flex;
      .name{
        font-size: 20px;
        font-weight: 700;
        color: #FAFAFA;
        
        margin-top: 20px;
        &:first-child{
          margin-left: 150px;
  
        }
        &:nth-child(2){
          margin-left: 330px;
        }
        &:nth-child(3){
          margin-left: 380px;
        }
        
        
      }
    }
   
    
    .baseContainer{
      display: grid;
      grid-template-columns: 450px 450px 450px;
      margin-left: 51px;
      .base{
        border: 1px solid #8B8B8B;
        text-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 7px;
        &:nth-child(3){
          
          text-align: start;
        }
        
      }
      .container{
        display: flex;
        justify-content: center;
        border: 1px solid #8B8B8B;
        align-items: center;
        .bases{
          font-size: 20px;
          font-weight: 700;
        }
        svg{
          padding-left: 15px;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .containerMusic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #8B8B8B;
        align-items: center;
        padding: 20px 0px;
        .bases{
          font-size: 20px;
        font-weight: 700;
        color: #333333;
        padding: 0px 10px;
        
        &:nth-child(2){
          margin-top: 20px;
        }
        }
      }
      .containeremail{
        display: flex;
        justify-content: center;
        border: 1px solid #8B8B8B;
        align-items: center;
        flex-direction: column;
        line-height: 35px;
        .bases{
          font-size: 20px;
          font-weight: 700;
          color: #333333;
        }
      }
    
    }
    .containerproduct{
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: space-between;
        .containerbutton{   
            .btn{
              background-color: #A93DFF;
              padding: 15px 63px;
              border: transparent;
              border-radius: 5px;
              &:hover{
                cursor: pointer;
              }
              .btntext{
                color: #FAFAFA;
                font-size: 20px;
                font-weight: 700;
        
              }
            }
           
          }
          .find{
            margin-left: 50px;
            display: flex;
            align-items: center;
            border: 1px solid #D4D4D4;
            border-radius: 10px;
            height: fit-content;
            padding: 10px 10px;
            width: 1030px;
            input[type=text]{
              border: transparent;
              outline: none;
              font-size: 20px;
              font-weight: 500;
              color: #8B8B8B;
              width: 1030px;
            }
          }
    }
  }
  