#app {
    width: 100%;
  }
  
  body {
    flex-direction: column;
    a{
      text-decoration: none;
    }
  }
  
  .wrapperrr{
    display: flex;
    .panel{
      background-color: #333333;
      height: 100vh;
      width: 200px;
      display: flex;
      flex-direction: column;
      
      .circle{
        background-color: #333333;
        border: 1px solid #FAFAFA;
        border-radius: 100%;
        padding: 30px 20px;
        width: 50px;
        height: 30px;
        margin-top: 20px;
        margin-left: 50px;
        .admin{
          font-size: 12px;
          font-weight: 500;
          color: #FAFAFA;
          text-align: center;
          line-height: 15px;
        }
      }
      .container{
        margin-bottom: 360px;
        .tarif{
          display: flex;
          align-items: center;
          margin-left: 31px;
          margin-top: 70px;
          
        }
         .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 21px;
          &:hover{
            cursor: pointer;
          }
        }
        .goods{
          display: flex;
          align-items: center;
          margin-left: 19px;
          margin-top: 40px;
          &:hover{
            cursor: pointer
          }
          .name{
            font-size: 16px;
            font-weight: 500;
            color: #FAFAFA;
            margin-left: 13px;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .order{
          display: flex;
          align-items: center;
          margin-left: 17px;
          margin-top: 40px;
          
          .name{
            font-size: 16px;
            font-weight: 500;
            color: #FAFAFA;
            margin-left: 13px;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .statistic{
          display: flex;
          align-items: center;
          margin-left: 17px;
          margin-top: 40px;
          
          .name{
            font-size: 16px;
            font-weight: 500;
            color: #FFC702;
            margin-left: 13px;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      .exit{
        display: flex;
        align-items: center;
        margin-left: 28px;
        position: relative;
        bottom: 30px;
        
        .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 18px;
          
          &:hover{
            cursor: pointer;
          }
        }
      }
     
    }
   
   .containerStatistic{
    display: flex;
    margin-left: 50px;
    margin-top: 70px;
    .containerblack{
        border-radius: 10px;
        width: 750px;
        height: 790px;
        background-color: #333333;
        color: #FAFAFA;
        .profit{
            font-weight: 500;
            text-align: center;
            margin-top: 15px;
            font-size: 20px;
        }
        .container{
         margin-top: 30px;
         margin-left: 10px;
         width: 97%;
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid #FAFAFA;   
         font-weight: 700;
         font-size: 20px;
         padding-bottom: 10px;
        }
        .total{
            margin-top: 30px;
            margin-left: 10px;
            width: 97%;
            display: flex;
            justify-content: space-between;
            
            font-weight: 700;
            font-size: 20px;
            
        }
    }
    .containerSummer{
        display: flex;
        flex-direction: column;
        .containerviolet{
            width: 500px;
            height: 300px;
            border-radius: 10px;
            background-color: #A93DFF;
            margin-left: 50px;
            color: #FAFAFA;
            &:nth-child(2){
                margin-top: 50px;
            }
            .june{
                text-align: center;
                margin-top: 15px;
                font-size: 20px;
                font-weight: 500;
            }
            .container{
                margin-top: 30px;
         margin-left: 10px;
         width: 97%;
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid #FAFAFA;   
         font-weight: 700;
         font-size: 20px;
         padding-bottom: 10px;
         
            }
            .total{
                margin-top: 30px;
                margin-left: 10px;
                width: 97%;
                display: flex;
                justify-content: space-between;
                
                font-weight: 700;
                font-size: 20px;
                
            }
        }
    }
   }
    
    
  }
  