#app {
  width: 100%;
}

body {
  flex-direction: column;
  
}

.wrapper{
  display: flex;
  .panel{
    background-color: #333333;
    height: 110.2%;
    width: 200px;
    display: flex;
    flex-direction: column;
    
    .circle{
      background-color: #333333;
      border: 1px solid #FAFAFA;
      border-radius: 100%;
      padding: 30px 20px;
      width: 50px;
      height: 30px;
      margin-top: 20px;
      margin-left: 50px;
      .admin{
        font-size: 12px;
        font-weight: 500;
        color: #FAFAFA;
        text-align: center;
        line-height: 15px;
      }
    }
    .container{
      margin-bottom: 360px;
      .tarif{
        display: flex;
        align-items: center;
        margin-left: 31px;
        margin-top: 70px;
        transition: 400ms;

      }
      .name{
        font-size: 16px;
        font-weight: 500;
        color: #FFC702;
        margin-left: 21px;
        transition: 300ms;
       &:hover{
        cursor: pointer;
       }
       
      }
      .goods{
        display: flex;
        align-items: center;
        margin-left: 19px;
        margin-top: 40px;
       
        
        .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 13px;
          transition: 300ms;
         &:hover{
          cursor: pointer;
         }
        }
      }
      .order{
        display: flex;
        align-items: center;
        margin-left: 17px;
        margin-top: 40px;
        
        .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 13px;
          transition: 300ms;
          &:hover{
            cursor: pointer;
           }
        }
      }
      .statistic{
        display: flex;
        align-items: center;
        margin-left: 17px;
        margin-top: 40px;
       
        .name{
          font-size: 16px;
          font-weight: 500;
          color: #FAFAFA;
          margin-left: 13px; 
          transition: 300ms;
          &:hover{
            cursor: pointer;
           }
        }
      }
    }
    .exit{
      display: flex;
      align-items: center;
      margin-left: 28px;
      position: relative;
      bottom: 30px;
      
      .name{
        font-size: 16px;
        font-weight: 500;
        color: #FAFAFA;
        margin-left: 18px;
        transition: 300ms;
        &:hover{
          cursor: pointer;
         }
      }
    }
   
  }
  .table{
    margin-left: 50px;
    margin-top: 30px;
    height: 64px;
    width: 1300px;
    background-color: #333333;
    border-radius: 5px 5px 0 0;
    display: flex;
    .name{
      font-size: 20px;
      font-weight: 700;
      color: #FAFAFA;
      
      margin-top: 20px;
      &:first-child{
        margin-left: 56px;

      }
      &:nth-child(2){
        margin-left: 145.5px;
      }
      &:nth-child(3){
        margin-left: 117.5px;
      }
      &:nth-child(4){
        margin-left: 140px;
      }
      &:nth-child(5){
        margin-left: 157px;
      }
    }
  }
 
  .containerbutton{
    margin-top: 100px;
    margin-left: 1057px; 
    .btn{
      background-color: #A93DFF;
      padding: 15px 63px;
      border: transparent;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
      }
      .btntext{
        color: #FAFAFA;
        font-size: 20px;
        font-weight: 700;

      }
    }
   
  }
  .baseContainer{
    display: grid;
    grid-template-columns: 290px 250px 330px 210px 219px;
    margin-left: 51px;
    
    .base{
      border: 1px solid #8B8B8B;
      padding: 25px 50px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    }
    .container{
      display: flex;
      border: 1px solid #8B8B8B;
      justify-content: center;
      padding-top: 15px;
      svg{
        &:hover{
          cursor: pointer;
        }
      }
      .delete{
        padding-left: 5px;
      }
    }
  }
  .containerall{
    display: flex;
    flex-direction: column
  }
}

.modal{
  display: none;
}
.active{
  background: var(--modal-back, rgba(51, 51, 51, 0.75));
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .containerInput{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #FAFAFA;
    width: 500px;
    height: 460px;
    border-radius: 10px;
    margin: 190px;
    .tarif{
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      padding-top: 20px;
      margin-bottom: 30px;
    }
    input[type=text]{
      width: 90%;
      margin-left: 11px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 10px;
      border: 1px solid #D4D4D4;
      padding: 10px;
      margin-top: 10px;
      
    }
    input[type=number]{
      width: 90%;
      margin-left: 11px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 10px;
      border: 1px solid #D4D4D4;
      padding: 10px;
      margin-top: 10px;
      
    }
    .price{
      background-color: #D4D4D4;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .container{
    display: flex;
    padding-top: 100px;
    padding-left: 24px;
    .btnfirst{
      color: #FAFAFA;
      background: #333333;
      padding: 15px 65px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
      &:hover{
        cursor: pointer;
      }
    }
    .btntwo{
      color: #333333;
      background-color: #FFC702;
      padding: 15px 65px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
      margin-left: 10px;
      &:hover{
        cursor: pointer
      }
    }
  }
}
@import 'orders';
@import 'statistic';
@import 'products';







.baseContainerr{
  display: grid;
  grid-template-columns: 290px 250px 330px 210px 219px;
  margin-left: 0px;
  .base{
    border: 1px solid #8B8B8B;
    padding: 25px 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .container{
    display: flex;
    border: 1px solid #8B8B8B;
    justify-content: center;
    padding-top: 15px;
    svg{
      &:hover{
        cursor: pointer;
      }
    }
    .delete{
      padding-left: 5px;
    }
  }
}